.about {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Montserrat',sans-serif;
    .about-section {
        width: 100%;
        height: 720px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: aliceblue;
        background-image: url('../../imgs/about-img.jpeg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        .about-text {
            width: 50%;
            height: 60%;
            padding: 15px;
            backdrop-filter: blur(10px);
            box-shadow: 0px 0px 10px 2px rgb(152, 152, 152);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            max-width: 1000px;
            text-align: center;
            h1 {
                text-shadow: 0px 0px 7px rgb(68, 68, 68) ;
                font-weight: bolder;
                font-size: 50px;
                @media (max-width: 790px) {
                    font-size: 40px;
                    margin-bottom: 50px;
                }
            }
            p, h4 {
                text-shadow: 0px 0px 7px rgb(81, 81, 81) ;
                font-weight: bolder;
                @media (max-width: 700px) {
                    
                }
            }
            @media (max-width: 700px) {
                width: 80%;
            }
        }
    }
    .out-mission {
        width: 100%;
        padding: 40px;
        position: relative;
        bottom: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        .missions-card {
            width: 320px;
            height: 320px;
            padding: 25px;
            text-align: left;
            background-color: #FFFFFF;
            box-shadow: 0 0 2px silver;
            .card-line {
                width:50px;
                margin-bottom: 20px;
                height: 5px;
                border-radius: 20px;
                background-color: #2EC0FF;
            }
            h2 {
                margin-bottom: 20px;
            }
            ul {
                ::marker {
                    color: #2EC0FF;
                }
            }
        }
    }
    .process-section {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .cards-main {
            max-width: 1000px;
            
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            flex-wrap: wrap;
        }
        .process-card {
            width: 300px;
            height: 310px;
            text-align: left;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            padding: 15px;
            position: relative;
            span {
                font-weight: bolder;
                font-size: 100px;
                position: absolute;
                top: 10px;
                color: silver;
            }
            h3 {
                margin-top: 10px;
                margin-bottom: 20px;
            }
        }
    }
    .service-section {
        width: 100%;
        margin-bottom: 80px;
        margin-top: 60px;
        display: flex;
        @media (max-width: 700px) {

           flex-direction: column;
        }
        .service-img {
            width: 50%;
            height: auto;
            background-image: url('https://www.cursorsystems.de/wp-content/uploads/2022/01/shutterstock_791606392-edited-1024x768.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-color: #2EC0FF;
            @media (max-width: 700px) {
                width: 100%;
                height: 500px;
             }
            img {
                width: 100%;
                height: 100%;
            }
        }
        .service-text {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          gap: 20px;
          padding-top: 40px;
          background-color: #F3F6F6;
          @media (max-width: 700px) {
            width: 100%;
            
         }
          .title-1 {
            width: 70%;
            margin-left: 35px;
            text-align: left;
            @media (max-width: 700px) {
                text-align: center;
                 
              }
          }
          .service-divs {
            width:100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            .service-box {
                width: 100%;
                padding: 8px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: left;
                flex-wrap: wrap;
                border-radius: 5px;
                margin: 2px 0px 2px 0px;
                position: relative;
                background-color: #FFFFFF;
                .title {
                    padding-left: 10px;
                    width: 90%;
                }
                i {
                    color: rgb(117, 116, 116);
                    font-size: 22px;
                    cursor: pointer;
                    transition: all 0.5s  linear;
                }
                .description {
                    overflow: hidden;
                    color: #4e5050;
                    font-weight: bold;
                    border-radius: 10px;
                    background-color: #F3F6F6;
                    height: 0;
                    margin: 0;
                    padding: 0 10px;
                    transition: all 0.5s  ;
                    
                }
                p {
                    margin: 0;
                    
                }
               
            }
          }
        }
    }
    .info-section{
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .info-text {
            text-align: center;
            width: 60%;
        }
        .info-numbers {
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            flex-wrap: wrap;
            .number {
                width: 320px;
                display: flex;
                align-items: center;
                .num-title {
                    width: 200px;
                    position: relative;
                    right: 50px;
                    top: 20px;
                }
                .num-title-2 {
                    width: 200px;
                    position: relative;
                    right: 20px;
                    top: 20px;
                }
                p {
                    
                    margin: 0; 
                    font-size: 14px; 
                    font-weight: bold;
                    position: relative; 
                    top: 20px;
                    width: 100px;
                }
                b {
                    width: 210px;
                    font-size: 80px;
                    color: #2EC0FF;
                    .increment {
                        display: inline;
                        margin-right: -20px;
                    }
                }
            }
        }
    }
}