html {
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #525151;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(36, 36, 36);
  }
}
.App {
  width: 100%;
  overflow-x: hidden;
}
