.start {
    width: 100%;
    padding: 40px;
    margin: 200px 0px 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F6F6;
    @media (max-width: 700px) {
        flex-direction: column;
        padding: 70px 20px;
        margin: 220px 0px 50px 0px;
     }
   
     .start-main {
        width: 90%;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 10px rgb(200, 200, 200);
        @media (max-width: 700px) {
            width: 95%;
            flex-wrap: wrap;
            text-align: center;
         }
        .content {
            width: 60%;
            max-width: 700px;
            height: 200px;
            padding: 40px;
            border-radius: 10px;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: center;    
            @media (max-width: 700px) {
                width: 100%;
                flex-wrap: wrap;
                text-align: center;
             }
         
            h2 {
                color: #2EC0FF;
            }
           
        }
        .button {
            width: 40%;
            max-width: 400px;
            height: 200px;
            padding: 10px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: 700px) {
                width: 100%;
                height: auto;
                padding-bottom: 35px;
             }
            button { 
                width: 200px;
                border-radius: 5px;
                border: none;
                color: #031008;
                padding: 15px;
                background-color: #2EC0FF;
                &:hover {
                    background-color: #05b4ff;
                }
            }
        }
     }
}