$color1: #2EC0FF;
$font1: 'Montserrat', sans-serif;
$font2: 'Orienta', sans-serif;

.app-form {
    width: 100%;
    
    .section-1 {
        width: 100%;
        height: 300px;
        background: rgb(141,216,244);
        background: linear-gradient(180deg, rgba(141,216,244,1) 13%, rgba(255,255,255,1) 73%);
        display: flex;
        justify-content: center;
    }
    .section-2 {
        width: 100%;
        margin-top: -180px;
        padding: 100px 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        border-bottom: 1px solid white;
       
        // border: 1px solid rgb(4, 0, 255);
        @media (max-width: 950px) {
            flex-direction: column;
            flex-direction: column-reverse;
        }
            .section-pictures{
                width:43%;
                height: 900px;
                padding: 30px;
                background-repeat: no-repeat;
                background-position: center;
                @media (max-width: 950px) {
                    width:70%;
                    height: 400px;
                }
                @media (max-width: 650px) {
                    width:100%;
                    
                }
            }
        
        form {
            width: 57%;
            max-width: 800px;
            padding: 30px;
            border-radius: 5px;
            background-color: rgb(255, 255, 255);
            @media (max-width: 950px) {
                width:80%;
                
            }
            @media (max-width: 650px) {
                width:100%;
                
            }
            .timeerorrmsg{
                color:red;
                font-family: $font2;
                margin: 20px;
                padding: 7px;
                border-radius:10px;
                letter-spacing:1px;
                font-weight: bolder;
                text-align: center;
                @media ( max-width : 700px ) {
                    padding:0px;
                    font-size: 14px;
                }
            }
            span {
                color: red;
            }
            .sent-message {
                width: 100%;
                text-align: center;
                margin-top: -80px;
                .sent-message-img{
                    width: 99%;
                    height: 95%;
                    
                    img{
                        width: 60%;
                    }
                }
                h3 {
                    font-family: $font1;
                }
            }
            img {
                width: 70%;
                height: 70%;
                display: block;
                margin: 0 auto;
            }
            h2 {
                // text-align: center;
                margin-bottom: 50px;
                letter-spacing: 6px;
            }
            select {
                width: 100%;
                padding: 10px;
                margin-bottom: 20px;
                border-radius: 5px;
                border: none;
                outline: none;
                background-color: rgba(230, 230, 230, 0.694);
               &:invalid {
                color: rgb(159, 159, 159);
               }
               option {
                color: black;
               }
               
            }
            .info {
                width: 100%;
                margin-bottom: 20px;
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                .inputs {
                    width: 49%;
                    @media (max-width: 1100px) {
                        width: 100%;
                    }
                    input {
                        width: 100%;
                        padding: 8px;
                        border: none;
                        outline: none;
                        border-radius: 5px;
                        background-color: rgba(230, 230, 230, 0.694);
                       
                        &::placeholder {
                        color: rgb(159, 159, 159);
                        letter-spacing: 3px;
                        font-size: 14px;
                    }
                    }
                }
            }
            textarea {
                max-width: 100%;
                min-width: 100%;
                
                border: none;
                padding: 10px;
                outline: none;
                background-color: rgba(230, 230, 230, 0.694);
                border-radius: 5px;
                &::placeholder {
                    color: aliceblue;
                    letter-spacing: 5px;
                    color: rgb(159, 159, 159);
                }
            }
            button {
                width: 30%;
                padding: 8px;
                border: none;
                letter-spacing: 5px;
                margin-top: 10px;
                border-radius: 4px;
                color: aliceblue;
                background-color: $color1;
            }
        }
    }
}
