$color1: #2EC0FF;
$font1: 'Montserrat', sans-serif;
$font2: 'Orienta', sans-serif;

.Termin{
    width: 100%;
    margin-top: 200px;
    height: 400px;
    background-color: rgb(51, 51, 51);
    background-image: url(../../imgs/contact-img.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  
    .opacity{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.507);
        display: flex;
        justify-content: center;
        align-items: center;
        .btn{
            background-color: $color1;
            color: white;
            font-size: 23px;
            font-family: $font2;
            i{
                font-size: 25px;
                margin-right: 5px;
            }
        }
    }
  
}

.TerminPage{
    width: 100%;
    //height: 100vh;
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(141,216,244);
    background: linear-gradient(180deg, rgba(141,216,244,1) 13%, rgba(255,255,255,1) 170%);
    background-attachment: fixed;
    @media ( max-width : 800px ) {
        padding-top: 100px;
    }
    .doneTermin {
        width: 100%;
        height: 70vh;
        margin-top: -200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        p {
            font-family: $font1;
            font-size: 20px;
            text-align: center;
        }
        .done-card {
       
            padding: 20px;
            color: #FAFAFA;
            border: 2px solid white;
            border-radius: 0px 10px 10px 0px;
            border-left: 4px solid #16c000;
            backdrop-filter: blur(4px);
            background: rgba(141, 217, 244, 0.46);
            background: linear-gradient(45deg, rgba(141,216,244,1) 13%, rgba(255,255,255,1) 170%);
            h2 {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                margin: 0;
                .fa-check-circle {
                    color: #16c000;
                    font-size: 40px;
                }
            }
         
        }
    }
    .min{
        width: 60%;
        padding: 40px 20px;
        // background-color: rgba(0, 0, 0, 0.178);
        // box-shadow: 0px 0px 13px black;
        display: flex;
        justify-content:space-around;
        align-items: center;
        flex-wrap: wrap;
        .timeerorrmsg{
            color:red;
            font-family: $font2;
            margin: 20px;
            padding: 7px;
            border-radius:10px;
            letter-spacing:1px;
            font-weight: bolder;
            text-align: center;
            @media ( max-width : 700px ) {
                padding:0px;
                font-size: 14px;
            }
        }
        .element.style{
            width: 100%;
        }
        .rc_root{
            width: 500px;
            box-shadow: 0px 0px 10px rgb(200, 200, 200);
            .rc_wkend{
                background-color: black;
            }
        }
        @media ( max-width : 800px ) {
            width: 90%;
        }
        form {
            width: 100%;
            padding: 20px;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            @media (max-width: 800px) {
                
                margin-top: 20px;
            }
         
            input {
                width: 100%;
                padding: 8px;
                outline: none;
                border-radius: 5px;
                border: 1px solid rgb(212, 212, 212);
                background-color: #FAFAFA;
                &::placeholder {
                    color: rgb(159, 159, 159);
                    letter-spacing: 3px;
                    font-size: 14px;
                }
            }
            textarea {
                width: 100%;
                padding: 8px;
                outline: none;
                border: 1px solid rgb(212, 212, 212);
                background-color: #FAFAFA;
                &::placeholder {
                    color: rgb(159, 159, 159);
                    letter-spacing: 3px;
                    font-size: 14px;
                }
            }
            button {
               width: 180px;
               border: none;
               padding: 13px;
               border-radius: 6px;
               color: white;
               background-color: $color1;
               &:hover {
                background-color: #0DACF2;
               }
            }
        }
        .buttBox{
            width: 100%;
            text-align: center;
            margin-top: 40px  ;

            .butt{
                width:150px;
                font-family: $font2;
                background-color: $color1;
                border:none;
                outline:none;
                border-radius:5px;
                padding: 10px;
                font-size: 15px;
                color: aliceblue;
               
            }
        }
      
        h2{
            width: 100%;
            text-align: center;
            color:white;
            margin-bottom: 100px;
            @media (max-width: 800px) {
                margin-bottom: 30px;
            }
        }
        .time{
            width: 50%;
            // background-color: red;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            @media ( max-width : 1580px ) {
                margin-top: 20px;
            }
            @media ( max-width : 1500px ) {
                margin-top: 20px;
                width: 100%;
            }
         
            .time1{
                display: inline-block;
                padding: 10px;
                border:2px solid rgb(255, 255, 255);
                border-radius: 10px;
                color:white;
                font-weight: bolder;
                margin:  5px;
                box-shadow: 0px 0px 10px rgb(200, 200, 200);
                background-color: transparent;
                &:hover{
                    cursor: pointer;
                    border:2px solid $color1;
                    color: $color1;
                    background-color: #000000;
                }
            }
            .disabled{
                display: inline-block;
                padding: 10px;
                border:2px solid rgb(255, 255, 255);
                border-radius: 10px;
                color:white;
                margin:  5px;
                font-weight: bolder;
                background-color: #666565;
                cursor: not-allowed;
            }
            .disabled-1 {
                display: inline-block;
                padding: 10px;
                border:2px solid rgb(255, 255, 255);
                border-radius: 10px;
                color:white;
                margin:  5px;
                font-weight: bolder;
                background-color: #D53B24;
                cursor: not-allowed;
            }
        }

    }
}

.sdp {
    
    --theme-color: $color1; /* violet color */
    background-color: red;
    
    button{
        
        width: 50px;
    }
  }